
  <div class="project-header">
    <h2 class="project-heading text-uppercase">Chatrooms</h2>
    <h3 class="project-text">
      Each project you create comes with a chatroom.<br/>
      Chat with your collaborators and get started on your project.<br/>
      Ready, set, collab!<br/>
  </div>



    <div class="project-table-list-container">
    <div class="project-table-list">
        <table id="chatrooms">
          <thead>
            <tr>
              <th>Title</th>
              <th>Chatroom</th>
            </tr>
            </thead>
            <tbody>
            <% @chatrooms.each do |chatroom| %>
                <% if chatroom.project.collaborators.where(id: current_user).any? %>
                  <tr>
                    <td><%= chatroom.name %></td>
                    <td><%= link_to 'Chat', chatroom_path(chatroom) %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
        </table>
    </div>
      
