
  <div class="project-header">
    <h2 class="project-heading text-uppercase">Chatrooms</h2>
    <h3 class="project-text">
      Each project you create comes with a chatroom.<br/>
      Chat with your collaborators and get started on your project.<br/>
      Ready, set, collab!<br/>
  </div>



<div class="chat">
    <div class="project-table-list">
      <% if current_user %>
        <table id="chatrooms">
          <thead>
            <tr>
              <th>Projects</th>
            </tr>
            </thead>
            <tbody>
              <% current_user.chatrooms.each do |chatroom| %>
                <tr>
                  <td><%= link_to chatroom.name, chatroom_path(chatroom), data: {behavior: "chatroom-link", chatroom_id: chatroom.id} %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
        <% else %>
          You have to login to chat.
       <% end %>
    </div>
  </div>
      
