
  <div class="project-header">
    <h2 class="project-heading text-uppercase">Chatrooms</h2>
    <h3 class="project-text">
      Each project you create comes with a chatroom.<br/>
      Chat with your collaborators and get started on your project.<br/>
      Ready, set, collab!<br/>
  </div>



    <div class="project-table-list-container">
    <div class="project-table-list">
        <table id="chatrooms">
          <thead>
            <tr>
              <th>Title</th>
              <th>Creator</th>
            </tr>
            </thead>
            <tbody>
            <% @chatrooms.each do |chatroom| %>
                <tr>
                  <td><%= chatroom.name %></td>
                  <td><%= link_to 'Chat', chatroom %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
      
