<div style="height:10em;" class="span12"></div>
<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Edit User Profile</h2>
      </div>
    </div>
  </div>
</header>

  <div class="Absolute-Center is-Responsive">
    <div class="form-group">
        change your name
    </div>
    <div class="form-group">
       change your picture 
    </div>
    <div class="form-group">
       change your Interests 
    </div>
    <div class="form-group">
        change your description
    </div>
    

     <%= button_to "Save Profile", user_path, class: "btn-primary pull-left" %>
    <%= button_to "Cancel", user_path, class: "btn-primary pull-right" %>

  </br></br>
</div>