<!DOCTYPE html>
<html>
  
  <div class="about-header">
    <h2 class="about-heading text-uppercase">What is TechStudio?</h2>
    <h3 class="about-text">
      Have an amazing idea or want to lend your skills to a project? Join and collab!<br/>
      To join, just login with your Google account<br/>
      Look at the project page to find potential projects to collaborate on<br/>
      -  you can also search according to skills requested by a project<br/>
      Find a cool project? Contact a potential collaborator<br/>
      Have a great idea? Create your own project listing and find a collaborator!<br/>
  </div>

  <div class="about-team">
        <h2 class="about-heading text-uppercase">The Team</h2>
        <h3 class="about-subheading">The masterminds behind TECHSTUDIO.</h3>
  </div>
  
  
  
<<<<<<< HEAD
  
  <div class="about-container-profile">
    
    <!-- NATASHA -->
    <div class="about-profile">
      <img class="about-img" src="/images/alfie.jpg" alt="Natasha image"> 
        
      <div class="col-xs-9">
        <div class="about-name">Natasha</div>
        <div class="about-job">CEO</div>
        <div class="about-body">Natasha assembled this dream team with a vision, to create a rad ruby on 
        rails app. Unless you're going to pay her to learn how to surf, Natasha wants 
        nothing to do with the beach.</div>
      </div>
    </div>
    <hr/>

    
    <!-- DEANA -->
    <div class="about-profile">
      <img class="about-img" src="/images/deana.jpg" alt="Deana image">
      
      <div class="col-xs-9">
        <div class="about-name">Deana</div>
        <div class="about-job">Chief Pantone Officer</div>
        <div class="about-body">Telling bad puns at every opportunity she gets, Deana, despite the 
        preferences of her teammates, actually enjoys working on front end as she is 
        scared of tables (databases and ping pong alike). She likes finnagling with
        visuals and thrives in spending hours on finding the perfect color. Also in
        contrast with her teammates, she generally likes the beach, but ironically 
        can't swim.</div>
      </div>
    </div>
    <hr/>
    
    <!-- GLORIANE -->
    <div class="about-profile">
      <img class="about-img" src="/images/glo.jpg" alt="Gloriane image"> 
      
      <div class="col-xs-9">
        <div class="about-name">Gloriane</div>
        <div class="about-job">Chief Technology Officer</div>
        <div class="about-body">Originally a public policy major, Gloriane has somehow ended up in Computer 
        Science. Gloriane, like Regina, is not an a fan of front end. She finds it 
        ridiculous when she has to spend hours putting a button in the right place. 
        Gloriane’s life motto is “Glo with the flow”. Despite this motto, she spends 
        her days happily stressed and unhappily anxious. She thinks beaches are nice, 
        but only without the sand.</div>
      </div>
    </div>
    <hr/>
      
    <!-- REGINA -->
    <div class="about-profile">
      <img class="about-img" src="/images/regina.jpg" alt="Regina image">
      
      <div class="col-xs-9">
        <div class="about-name">Regina</div>
        <div class="about-job">Chief Data Officer</div>
        <div class="about-body">Despite starting off at art school, Regina would very much like to avoid front 
        end whenever possible. When she’s not coding, she spends her time crocheting 
        increasingly more ridiculous hats and scarves that look like food. She thinks 
        beaches are vastly overrated, except for dog beaches which cannot possibly be 
        overrated because as we all know, dogs are amazing.</div>
      </div>
    </div>
    <hr/>
     
    <!-- ALFIE -->
    <div class="about-profile">
      <img class="about-img" src="/images/alfie.jpg" alt="Alfie image">
      
      <div class="col-xs-9">
      <div class="about-name">Alfie</div>
      <div class="about-job">Chief Happiness Officer</div>
      <div class="about-body">Alfie is a good boy. As Chief Happiness Officer, he has the very important job of 
        minimizing the amount of sadness the team experiences. He is an expert in licking 
        faces, giving handshakes, snuggling, and looking cute. He enjoys long walks on the 
        beach as long as you don’t ask him to get in the water.</div>
      </div>
    </div>
  </div>

=======
  <!-- About us (top row) -->
  <div class="about-container-profile">
    
    <div class="about-profile">
      <div class="about-profile-img">
        <img class="about-img" src="/images/alfie.jpg" alt="Natasha image"> 
      </div>
      
      <div class="about-profile-info-column">
        <h3 class="heading">Natasha</h3>
        <h4 class="service-heading">CEO</h4>
        <p>Natasha assembled this dream team with a vision, to create a rad ruby on rails app. Unless you're going to pay her to learn how to surf, Natasha wants nothing to do with the beach.</p>
      </div>
    </div>
    
    
    <div class="about-profile">
      <div class="about-profile-img">
        <img class="about-img" src="/images/alfie.jpg" alt="Natasha image"> 
      </div>
      
      <div class="about-profile-info-column">
        <h3 class="heading">Deana</h3>
        <h4 class="service-heading">Front End</h4>
        <p>Natasha assembled this dream team with a vision, to create a rad ruby on rails app. Unless you're going to pay her to learn how to surf, Natasha wants nothing to do with the beach.</p>
      </div>
    </div>
    
    
    <div class="about-profile">
      <div class="about-profile-img">
        <img class="about-img" src="/images/alfie.jpg" alt="Natasha image"> 
      </div>
      
      <div class="about-profile-info-column">
        <h3 class="heading">Gloriane</h3>
        <h4 class="service-heading">Chief Technology Officer</h4>
        <p>Natasha assembled this dream team with a vision, to create a rad ruby on rails app. Unless you're going to pay her to learn how to surf, Natasha wants nothing to do with the beach.</p>
      </div>
    </div>
    
      
    <div class="about-profile">
      <img class="about-img" src="/images/regina.jpg" alt="Regina image">
      <h3 class="service-heading">Regina</h3>
      <h4 class="service-heading">Chief Data Officer</h4>
      <p>Despite starting off at art school, Regina would very much like to avoid front end whenever possible. When she’s not coding, she spends her time crocheting increasingly more ridiculous hats and scarves that look like food. She thinks beaches are vastly overrated, except for dog beaches which cannot possibly be overrated because as we all know, dogs are amazing.</p>
    </div>
 
    <div class="about-profile">
      <img class="about-img" src="/images/alfie.jpg" alt="Alfie image">
      <h3 class="service-heading">Alfie</h3>
      <h4 class="service-heading">Chief Happiness Officer</h4>
      <p>Alfie is a good boy. As Chief Happiness Officer, he has the very important job of minimizing the amount of sadness the team experiences. He is an expert in licking faces, giving handshakes, snuggling, and looking cute. He enjoys long walks on the beach as long as you don’t ask him to get in the water.</p>
    </div>
  </div>

    
>>>>>>> d761272b6121bb42da7fdb7d88087c2fd80b2ce6
    
    
</html>