%h1
    %center About us
%h4 
    %center This is the about page, work in progress
    
%center    
    %img.img-rounded{:alt => "Eggs because why not", :height => "236", :src => "http://images2.pics4learning.com/catalog/i/img_3436alligator.jpg", :width => "304"}/

%h2
    %center Time to get cracking on it. 
