<!DOCTYPE html>
  <div class="jumbotron text-center">
    <h1 class = "title">TECHSTUDIO</h1>
    <p>Innovate. Collaborate. Bring your amazing ideas to life.</p>
    <p></p>
    <p>hi there. we're happy to see you here but we're under underconstruction. so come back later!</p>
  </div>