<!DOCTYPE html>

<html>
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase">TECHSTUDIO</div>
          <div class="intro-lead-in">where innovators and creators collaborate. bring your ideas to life.</div>
          <a class="btn btn-primary js-scroll-trigger" href="/projects">collab</a>
        </div>
      </div>
    </header>



    <!-- Services -->
    <section id="services">
      <div class="container-columns center">
        
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="column-title text-uppercase">who we are</h2>
            <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
          </div>
        </div>
        
        <div class="row text-center">
          
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="column-heading">creators</h4>
            <p class="text-muted">Engineers, architects, artists, designers, developers, and other skilled individuals. If you have the drive to apply your knowledge and talent, anything is possible.</p>
          </div>
          
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="column-heading">innovators</h4>
            <p class="text-muted">Great ideas can turn into great projects. Be avant-garde, think outside the box, envision the future. </p>
          </div>
          
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="column-heading">collaborators</h4>
            <p class="text-muted">Join forces with others to innovate and create. Solve a problem or make something cool! You don't have to go alone, there is a whole community who wants to join you and work on an awesome project.</p>
          </div>
          
        </div>
      </div>
    </section>
    
</html>
