<!DOCTYPE html>
<html>
<% #  This file is app/views/movies/index.html.haml %>
    <!-- Header -->
<div style="height:10em;" class="span12">
</div>


    <!-- Header -->
    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">All Projects</h2>
          </div>
        </div>
      </div>
      </header>




    <div class="Absolute-Center is-Responsive">
<form>
  <div class="form-row centered">
    <div class="form-group">
      <label for="inputEmail4">Project Title</label>
      <input type="text" class="form-control" id="inputTitle" placeholder="The name of your awesome project!">
    </div>
  </div>
  <div class="form-group">
    <label for="inputSummary">Summary</label>
    <input type="text" class="form-control" id="inputSummary" placeholder="Short summary of your project (max characters 50)" maxlength="50">
  </div>
  <div class="form-group">
    <label for="inputDescription">Description</label>
    <input type="text" class="form-control" id="inputDescription" placeholder="A longer description of your project" rows="5" cols="80" maxlength="300">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Project Type</label>
      <select id="inputState" class="form-control">
        <option selected>Hobby</option>
        <option>Academic</option>
        <option>Startup</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary centered">Submit</button>
</form>
</div>

</html>
