@import 'variables.scss';
@import 'mixins.scss';

@import 'https://fonts.googleapis.com/css?family=Inconsolata';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

$emerald: #009874;
$dark: #0c0c0c ;
$darkgray: #848484;
$darkergray: #2b2b2b;
$graytext: #424242;

body {
  font-family: 'Inconsolata';
  position: relative;
  width: 100%;
  height: 100%;
  color: $graytext;
  background-color: #f2f2f2;
  a{ color: $graytext; }
   a:hover{ color: $emerald; }
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, p {
  margin: 0em;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: white;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($emerald, 50%);
  }
}





/* ---------- NAVBAR ---------- */
#mainNav {
  font-family: 'Source Sans Pro';
  .navbar-toggler {
    font-size: 1em;
    padding: 1em;
    color: white;
  }
  .navbar-brand {
    font-size: 1.2em;
    font-weight: 700;
    margin-left: -1em;
  }
  
  .navbar-nav{
    float: left;
  }
  .navbar-right {
    float: right;
    color: white;
  }
  
  @media(min-width:62em) {
    padding-top: 1.250em;
    padding-bottom: 1.250em;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 0.063em;
    border-bottom: none;
    background: transparent;
    &.navbar-shrink {
      padding-top: 0.625em;
      padding-bottom: 0.625em;
      background: black;
    }
  }
}

.navbar-default {
  background-color: $dark; // navbar color
  border-color: $dark;    // narbar bottom border color
  font-size: 1.15em;      // changes navbar font size
    
}


.navbar .brand, .navbar .nav > li > a:hover {
  color: $emerald;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: 'Source Sans Pro';
}

.nav > li > a {
  color: white;
  font-family: 'Source Sans Pro';
}

/* ---------- NAVBAR ---------- */    





/* ---------- HOMESPREAD ---------- */
.masthead {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #848484;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 3.125em;
    }
    .intro-text {
      font-size: 1.125em;
      color: $graytext;
    }
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 6.250em;
      }
      .intro-text {
        font-size: 1.375em;
      }
    }
  }
}

header.masthead {
  text-align: center;
  color: white;
  height: 30%;
  margin: 0em 0em 12em 0em;
  background-image: url("/images/background3-5.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 48em) {
  header.masthead .intro-text {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 6.5em;
    font-weight: bold;
    letter-spacing: 0.5em;
    line-height: 75px;
    margin-bottom: 50px;
    color: white;
    text-shadow: black -0.2em 0.1em 0.2em;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 40px;
    margin-bottom: 7em;
    color: $graytext;
  }
}
/* ---------- HOMESPREAD ---------- */





/* ---------- BUTTON ---------- */
.btn {
  font-weight: bold;
  font-size: 1.1em;
  padding: 1em 3em;
  margin: auto;
}
.btn-primary {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: transparent;
}
.btn-primary:focus, .btn-primary:hover {
  background-color: rgba(0, 152, 116, 0.8) !important;
  border-color: transparent;
  color: white;
}
.btn-primary:active{
  box-shadow: 0.2em rgba(0, 152, 116, 1) !important;
}

.btn-link{
  color:$emerald;
}

.btn-caution:hover{
  background-color: red;
  color: black;
}
/* ---------- BUTTON ---------- */






/* ---------- COLUMNS ---------- */
h4.column-heading, h2.column-title {
  font-weight: bold;
  color: $graytext;
  margin-bottom: 2em;
}

h4.column-heading {
  font-size: 1.3em;
}
h2.column-title {
  font-size: 2em;
  letter-spacing: 0.2em;
}

@media (min-width: 75em){
  .container-columns {
    width: 65%;
    margin: auto;
    margin-bottom: 12em;
  }
}
@media (min-width: 1200px){
  .row {
    margin-right: -1em;
    margin-left: -1em;
  }
}
/* ---------- COLUMNS ---------- */





/* ---------- FOOTER ---------- */
footer {
  p {
    font-size: 1em;
    margin: 0;
  }
  position: relative;
  bottom: 0;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}

.row-footer {
  position: absolute;
  width: 100%;
}

.container-footer-right {
  text-align: right;
}
/* ---------- FOOTER ---------- */





/* ---------- ABOUT ---------- */
.about-header {
  margin-top: 10em;
  text-align: center;
  margin-bottom: 9em;
}
.about-heading {
  font-size: 3em;
  letter-spacing: 0.5em;
  margin-bottom: 1em;
}
.about-text{
  font-size: 1em;
  letter-spacing: 0.2em;
  line-height: 2.5em;
}


  
.about-team{
  text-align: center
}
.about-subheading{
  font-size: 1.25em;
  letter-spacing: 0.2em;
  line-height: 2.5em;
  margin-bottom: 2em;
}



.about-container-profile{
  margin: auto;
  width: 50%;
  padding-bottom: 8em;
}
.about-profile{
  padding: 4em 2em;
  overflow: hidden;
}

.about-img {
  border-radius: 2%;
  width: 10em;
  padding-bottom: .01em;
  float: right;
}

.about-name{
  font-size: 2em;
  padding-bottom: 0.25em;
}
.about-job{
  font-size: 1.5em;
  padding-bottom: 1em;
}
.about-body{
  font-size: 1.1em;
  padding-bottom: 1em;
}

/* ---------- ABOUT ---------- */





/* ---------- PROJECTS FILTER ---------- */
.project-header {
  margin-top: 10em;
  text-align: center;
  margin-bottom: 7em;
}
.project-heading {
  font-size: 3em;
  letter-spacing: 0.5em;
  margin-bottom: 1em;
}
.project-text{
  font-size: 1em;
  letter-spacing: 0.2em;
  line-height: 2em;
}

.project-table-filter {
  margin: auto;
  margin-bottom: 2em;
  width: 60%;
  border-radius: 0.4em;
  background-color: #e9ebee;
  border: 0.11em solid $emerald;
  min-width: 50em;
  padding: 2em;
  text-align: center;
}

#tag_cloud {
  line-height: 1.6em;
  text-align: center;
  font-family: 'Source Sans Pro';
  word-spacing: 1.3em;
  margin: 2em;
  padding: 1em 0em;
}
#tag_cloud .s {
  font-size: 0.8em;
}
#tag_cloud .m {
  font-size: 1.2em;
}
#tag_cloud .l {
  font-size: 1.8em;
}
/* ---------- PROJECTS FILTER ---------- */


/* ---------- PROJECTS TABLE ---------- */
.project-table-list{
  margin: auto;
  border-radius: 0.4em;
  border: 0.1em solid $graytext;
  background-color: #e9ebee;
  width: 80%;
  min-width: 50em;
  padding: 0.5em;
  a { 
    text-decoration: underline;
    font-weight: bold;
  }
}

table {
  font-family: 'Source Sans Pro';
  font-size: 1.2em;
  letter-spacing: 0.01em;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 0.1em solid #e9ebee;
  color: white;
  background-color: $graytext;
  text-align: center;
  padding: 0.6em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

td{
  color: $graytext;
  text-align: left;
  padding: 1.5em;
}

tr:nth-child(even) {
    background-color:  #dee0e2;
}
/* ---------- PROJECTS TABLE ---------- */




/* ---------- PROJECT FORM ---------- */

.new-project{
  margin: auto;
  border-radius: 0.4em;
  border: 0.1em solid $graytext;
  background-color: #e9ebee;
  width: 80%;
  min-width: 50em;
  padding: 0.5em;
  color: black;
  a { 
    text-decoration: underline;
    font-weight: bold;
  }
}

.formFields { 
  background-color: #e0e0e0 !important;
}

.form-group {
  margin: 2em 1em;
}

/*Changes the color of the placeholder text for each browser type*/
.form-control::-webkit-input-placeholder { color: $graytext; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: $graytext; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: $graytext; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: $graytext; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: $graytext; }  /* Microsoft Edge */
/* ---------- PROJECT FORM ---------- */


/* ---------- Profile FORM ---------- */

.profile-form{
  margin: auto;
  border-radius: 0.4em;
  border: 0.1em solid $graytext;
  background-color: #e9ebee;
  width: 80%;
  min-width: 50em;
  padding: 0.5em;
  color: black;
  a { 
    text-decoration: underline;
    font-weight: bold;
  }
}

.formFields { 
  background-color: #e0e0e0 !important;
}

.form-group {
  margin: 2em 1em;
}

/*Changes the color of the placeholder text for each browser type*/
.form-control::-webkit-input-placeholder { color: $graytext; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: $graytext; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: $graytext; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: $graytext; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: $graytext; }  /* Microsoft Edge */
/* ---------- Profile FORM ---------- */


/* ---------- Individual Project style ---------- */

.project-style-div{
  margin: auto;
  border-radius: 0.4em;
  border: 0.1em solid $graytext;
  background-color: #e9ebee;
  width: 80%;
  min-width: 70em;
  padding: 0.5em;
  color: black;
  a { 
    text-decoration: underline;
    font-weight: bold;
  }
}

.formFields { 
  background-color: #e0e0e0 !important;
}

.form-group {
  margin: 2em 1em;
}

/*Changes the color of the placeholder text for each browser type*/
.form-control::-webkit-input-placeholder { color: $graytext; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: $graytext; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: $graytext; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: $graytext; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: $graytext; }  /* Microsoft Edge */
/* ---------- Individual Project style ---------- */


/* ---------- Accordian Style ---------- */
.panel-body {
  
  background-color: #f2f2f2;
  color: black;
  
}

/* ---------- Accordian Style ---------- */



/* ---------- Flash Style ---------- */
.notice {
    color: $emerald;
    style: bold;
}


/* ---------- Flash Style ---------- */








hr {
  display: block;
  height: 0.063em;
  border-top: 0.063em solid $emerald;
  padding: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}
::selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}

a#sign_in {
   a { color: white; }
   a:hover{ color: $emerald; }
}

