@import 'variables.scss';
@import 'mixins.scss';

@import 'https://fonts.googleapis.com/css?family=Inconsolata';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

$emerald: #009874;
$dark: #0c0c0c ;

body {
  font-family: 'Source Sans Pro';
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: $dark;
}

html {
  width: 100%;
  height: 100%;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: $emerald;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($emerald, 20%);
  }
}





/* ---------- NAVBAR ---------- */
#mainNav {
  font-family: 'Source Sans Pro';
  border-bottom: 1px solid fade-out(white, .7);
  background-color: black;
  .navbar-toggler {
    font-size: 1em;
    padding: 11px;
    color: white;
    border: 1px solid white;
  }
  .navbar-brand {
    font-size: 1.2em;
    font-weight: 700;
    text-color: yellow;
    margin-left: -1em;
  }
  a {
    color: white;
  }
  .navbar-nav {
    .nav-item {
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      &:hover {
        color: fade($emerald, 20%);
        outline: none;
        background-color: black;
      }
    }
  }
  @media(min-width:992px) {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
    &.navbar-shrink {
      padding-top: 10px;
      padding-bottom: 10px;

      border-bottom: 1px solid fade-out(white, .7);
      background: black;
    }
    .nav-link.active {
      outline: none;
      background-color: $dark;
      &:hover {
        color: $emerald;
      }
    }
  }
}

.navbar-default {
    background-color: $dark;
    border-color: $dark;
    font-size: 1.1em;      // changes navbar font size
}
    .nav-link.active {
      outline: $emerald;
      background-color: $dark;
      &:hover {
        color: $emerald;
      }
    }
/* ---------- NAVBAR ---------- */    





/* ---------- HOMESPREAD ---------- */
.masthead {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 50px;
    }
    .intro-text {
      font-size: 18px;
    }
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-size: 22px;
      }
    }
  }
}

header.masthead {
  text-align: center;
  color: white;
  height: 30%;
  margin: 8em 0em 12em 0em;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  header.masthead .intro-text .intro-heading {
    font-family: 'Inconsolata';
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 0.5em;
    line-height: 75px;
    margin-bottom: 50px;
    color: white;
    text-shadow: black -0.2em 0.1em 0.2em;
  }
  header.masthead .intro-text .intro-lead-in {
    font-family: 'Inconsolata';
    font-size: 1em;
    letter-spacing: 0.2em;
    line-height: 40px;
    margin-bottom: 25px;
    color: white;
    text-shadow: black -0.2em 0.1em 0.2em;
  }
}
/* ---------- HOMESPREAD ---------- */





/* ---------- BUTTON ---------- */
.btn {
  font-family: 'Inconsolata';
  font-weight: bold;
  font-size: 1.1em;
  padding: 1em 3em;
  margin-top: 7em;
}
.btn-primary {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: transparent;
}
.btn-primary:focus, .btn-primary:hover {
  background-color: rgba(0, 152, 116, 0.8) !important;
  border-color: transparent;
  color: white;
}
.btn-primary:active{
  box-shadow: 0.2em rgba(0, 152, 116, 1) !important;
}
/* ---------- BUTTON ---------- */





/* ---------- COLUMNS ---------- */
h4.column-heading {
  font-family: 'Inconsolata';
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  margin-bottom: 2em;
}
h2.column-title {
  font-family: 'Inconsolata';
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.2em;
  color: white;
  margin-bottom: 2em;
}

@media (min-width: 1200px){
.container-columns {
    width: 65%;
    margin: auto;
    margin-bottom: 12em;
}
}
@media (min-width: 1200px){
.row {
    margin-right: -1em;
    margin-left: -1em;
}
}
/* ---------- COLUMNS ---------- */





/* ---------- FOOTER ---------- */
footer {
  p {
    font-size: 1em;
    margin: 0;
  }
  position: relative;
  bottom: 0;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}

.row-footer {
  position: absolute;
  width: 100%;
}

.container-footer-right {
  text-align: right;
}
/* ---------- FOOTER ---------- */





/* ---------- ABOUT ---------- */
.about-header {
  margin-top: 10em;
  text-align: center;
  margin-bottom: 9em;
  font-family: 'Inconsolata';
}
.about-heading {
  font-size: 3em;
  letter-spacing: 0.5em;
  margin-bottom: 1em;
}
.about-text{
  font-size: 1em;
  letter-spacing: 0.2em;
  line-height: 2.5em;
  color: white;
}


  
.about-team{
  font-family: 'Inconsolata';
  text-align: center
}
.about-subheading{
  font-size: 1.25em;
  letter-spacing: 0.2em;
  line-height: 2.5em;
  margin-bottom: 2em;
}



.about-container-profile{
  margin: auto;
  width: 55%;
}
.about-profile-row{
  margin: auto;
}
.about-img-circle {
    border-radius: 2%;
    width: 10em;
}

/* ---------- ABOUT ---------- */






::-moz-selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}
::selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
