@import 'variables.scss';
@import 'mixins.scss';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

$emerald: #4cc9a4;
// #009874
$dark: #0c0c0c ;
$darkgray: #848484;
$darkergray: #2b2b2b;
$graytext: #424242;
$graybackground: #f2f2f2;
$softwhite: #fefefe;

body {
  font-family: 'Inconsolata';
  position: relative;
  width: 100%;
  height: 100%;
  color: $graytext;
  background-color: $graybackground;
  a{ color: $graytext; }
   a:hover{ color: $emerald; }
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, p { margin: 0em;}

p {
  font-size: 1.1em;
  line-height: 1.5;
  font-weight: 500;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: white;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($emerald, 50%);
  }
}





/* ---------- NAVBAR ---------- */
#mainNav {
  font-family: 'Source Sans Pro';
  .navbar-toggler {
    font-size: 1em;
    padding: 1em;
    color: white;
  }
  .navbar-brand {
    font-size: 1.2em;
    font-weight: 700;
    margin-left: -1em;
  }
  
  @media(min-width:62em) {
    padding-top: 1.250em;
    padding-bottom: 1.250em;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 0.063em;
    border-bottom: none;
    background: transparent;
    &.navbar-shrink {
      padding-top: 0.625em;
      padding-bottom: 0.625em;
      background: black;
    }
  }
}

.navbar-default .navbar-brand {
  color: $emerald;
}

.navbar-default {
  background-color: $dark; // navbar color
  border: none;
  font-size: 1.15em;      // changes navbar font size
}

.navbar .brand, .navbar .nav > li > a:hover {
  color: $emerald;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Source Sans Pro';
}

.nav > li > a {
  color: white;
  font-family: 'Source Sans Pro';
}

/* ---------- NAVBAR ---------- */    





/* ---------- HOMESPREAD ---------- */
.masthead {
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  .intro-body {
    .intro-text {
      font-size: 1.125em;
      color: $graytext;
    }
  }
  @media(min-width: 48em) {
    height: 100%;
    padding: 0;
  }
}

header.masthead {
  text-align: center;
  color: white;
  height: 30%;
  margin: 5em 0em 12em 0em;
  background-image: url("/images/background3-5.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 48em) {
  header.masthead .intro-text {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 6.5em;
    font-weight: bold;
    letter-spacing: 0.5em;
    line-height: 75px;
    margin-bottom: 50px;
    color: white;
    text-shadow: black -0.2em 0.1em 0.2em;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 40px;
    margin-bottom: 7em;
    color: $graytext;
  }
}
/* ---------- HOMESPREAD ---------- */





/* ---------- BUTTON ---------- */
.btn {
  font-weight: bold;
  font-size: 1.1em;
  padding: 1em 3em;
  margin: auto;
}

.account-btn {
  padding: 0.3em 1em;
  border-radius: 0.25em;
  font-weight: bold;
  font-size: 1.1em;
}

.account-table-btn{
  padding: 0.3em 1em;
  border-radius: 0.25em;
  font-size: 0.7em;
  font-weight: bold;
  font-family: "Inconsolata";
}

.btn-primary {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: transparent;
}
.btn-primary:focus, .btn-primary:hover {
  background-color: rgba(0, 152, 116, 0.8) !important;
  border-color: transparent;
  color: white;
}
.btn-primary:active{ box-shadow: 0.2em rgba(0, 152, 116, 1) !important;}

.btn-link{color:$emerald;}

.btn-caution:hover{
  background-color: red;
  color: black;
}


/* ---------- BUTTON ---------- */






/* ---------- COLUMNS ---------- */
h4.column-heading, h2.column-title {
  font-weight: bold;
  color: $graytext;
  margin-bottom: 2em;
}

h4.column-heading { font-size: 1.3em;}

h2.column-title {
  font-size: 2em;
  letter-spacing: 0.2em;
}

@media (min-width: 75em){
  .container-columns {
    width: 65%;
    margin: auto;
    margin-bottom: 12em;
  }
}
@media (min-width: 1200px){
  .row {
    margin-right: -1em;
    margin-left: -1em;
  }
}
/* ---------- COLUMNS ---------- */






/* ---------- ABOUT ---------- */
.about-header {
  margin-top: 10em;
  text-align: center;
  margin-bottom: 9em;
}
.about-heading {
  font-size: 3em;
  letter-spacing: 0.5em;
  margin-bottom: 1em;
}
.about-text{
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 2em;
}

.about-team{ text-align: center}

.about-subheading{
  font-size: 1.25em;
  letter-spacing: 0.2em;
  line-height: 2.5em;
  margin-bottom: 2em;
}

.about-container-profile{
  margin: auto;
  width: 50%;
  padding-bottom: 8em;
}

.about-profile{
  padding: 4em 2em;
  overflow: hidden;
}

.about-img {
  border-radius: 2%;
  width: 10em;
  padding-bottom: .01em;
  float: right;
}

.about-name{
  font-size: 2em;
  padding-bottom: 0.25em;
}

.about-job{
  font-size: 1.5em;
  padding-bottom: 1em;
}

.about-body{
  font-size: 1.1em;
  padding-bottom: 1em;
}

/* ---------- ABOUT ---------- */





/* ---------- PROJECTS FILTER ---------- */
.project-header {
  margin-top: 10em;
  text-align: center;
  margin-bottom: 7em;
}
.project-heading {
  font-size: 3em;
  letter-spacing: 0.5em;
  margin-bottom: 1em;
}
.project-text{
  font-size: 1em;
  letter-spacing: 0.2em;
  line-height: 2em;
  font-weight: 500;
}

.project-table-filter {
  margin: auto;
  margin-bottom: 2em;
  width: 60%;
  border-radius: 0.4em;
  background-color: $softwhite;
  border: 0.11em solid $emerald;
  min-width: 50em;
  padding: 2em;
  text-align: center;
}

#tag_cloud {
  line-height: 1.6em;
  text-align: center;
  font-family: 'Source Sans Pro';
  word-spacing: 1.3em;
  margin: 2em;
  padding: 1em 0em;
}
#tag_cloud .s { font-size: 0.8em;}
#tag_cloud .m { font-size: 1.2em;}
#tag_cloud .l { font-size: 1.8em;}
/* ---------- PROJECTS FILTER ---------- */


/* ---------- PROJECTS TABLE ---------- */
.project-table-list-container{
  width: 80%;
  margin: auto;
}

.project-table-list{
  margin: auto;
  border-radius: 0.4em;
  background-color: $softwhite;
  width: 100%;
  min-width: 50em;
  padding: 0.5em;
  a { 
    text-decoration: underline;
    font-weight: bold;
  }
}

table {
  font-family: 'Source Sans Pro';
  font-size: 1.2em;
  letter-spacing: 0.01em;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 0.1em solid #e9ebee;
  color: white;
  background-color: $graytext;
  text-align: center;
  padding: 0.6em;
  letter-spacing: 0.2em;
  font-weight: 300;
  text-transform: uppercase;
}

td{
  color: $graytext;
  text-align: left;
  padding: 1.5em;
}

tr {
  width: 100%;
}

tr:nth-child(even) { background-color:  $graybackground;}
/* ---------- PROJECTS TABLE ---------- */




/* ---------- PROJECT FORM ---------- */

.new-project{
  margin: auto;
  border-radius: 0.4em;
  border: 0.1em solid $graytext;
  background-color: #e9ebee;
  width: 80%;
  min-width: 50em;
  padding: 0.5em;
  color: black;
  a { 
    text-decoration: underline;
    font-weight: bold;
  }
}

.formFields { background-color: #e0e0e0 !important;}

.form-group { margin: 2em 1em;}

/*Changes the color of the placeholder text for each browser type*/
.form-control::-webkit-input-placeholder { color: $graytext; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: $graytext; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: $graytext; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: $graytext; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: $graytext; }  /* Microsoft Edge */
/* ---------- PROJECT FORM ---------- */


/* ---------- Profile FORM ---------- */

.profile-form{
  margin: auto;
  border-radius: 0.4em;
  border: 0.1em solid $graytext;
  background-color: #e9ebee;
  width: 80%;
  min-width: 50em;
  padding: 0.5em;
  color: black;
  a { 
    text-decoration: underline;
    font-weight: bold;
  }
}

.formFields { background-color: #e0e0e0 !important;}

.form-group { margin: 2em 1em;}
/* ---------- Profile FORM ---------- */


/* ---------- ACCOUNT ---------- */
.account-container {
  width: 80%;
  margin: auto;
}

.account-header {
  margin-top: 10em;
  text-align: center;
  margin-bottom: 4em;
}
.account-heading {
  font-size: 3em;
  letter-spacing: 0.5em;
  margin-bottom: 1em;
}

.account-bio{
  margin: auto;
  border-radius: 0.4em;
  min-width: 70em;
  padding: 1em;
  color: black;
  a { 
    text-decoration: underline;
    font-weight: bold;
  }
}

a:hover,a:focus{text-decoration: none;}

.tab { border-radius: 0.25em};

.tab .nav-tabs{border-bottom: none;}

.tab .nav-tabs li a{
  padding: 1em 2em;
  font-size: 1.2em;
  font-weight: 600;
  color: $graytext;
  border-radius: 0.25em;
  text-transform: uppercase;
  border: none;
  transition: all 0.5s ease 0s;
}

.tab .nav-tabs li a:hover{background: $softwhite;}

.tab .nav-tabs li{margin-right: 1.5em;}

.tab .nav-tabs li a:before{ // gray line
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(0,0,0, 0.2);
  position: absolute;
  bottom: 0.3em;
  left: 0;
  transform: scale(0);
  transition: all 700ms ease 0s;
}
.tab .nav-tabs li a:after{
  content: "";
  width: 0.4375em;
  height: 0.4375em;
  border-radius: 50%;
  background: $emerald;
  margin: 0 auto;
  position: absolute;
  bottom: 0.125em;
  left: 0;
  right: 0;
  transform: scale(0);
  transition: all 700ms ease 0s;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
  border: none;
  color: $emerald;
}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after{
  transform: scale(1);
}
.tab .tab-content{
  padding: 1.25em;
  background: $softwhite;
  font-size: 1em;
  color: $graybackground;
  line-height: 1.625em;
}

.formFields { background-color: #e0e0e0 !important;}

.form-group { margin: 2em 1em;}
/* ---------- Individual Project style ---------- */




/* ---------- Accordian Style ---------- */
.panel-body {
  background-color: #f2f2f2;
  color: black;
}
/* ---------- Accordian Style ---------- */



/* ---------- Flash Style ---------- */
.alert {
  color: black;
  background: $emerald;
  font-size: 1.2em;
  width: 50%;
  font-weight: bold;
}
/* ---------- Flash Style ---------- */








hr { // emerald line
  display: block;
  height: 0.063em;
  border-top: 0.063em solid $emerald;
  padding: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: fade-out($softwhite, .8);
  text-shadow: none;
}
::selection {
  background: #fcfcfc;
  background: fade-out($softwhite, .8);
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}

a#sign_in {
   a { color: white; }
   a:hover{ color: $emerald; }
}

form { 
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
}