<!DOCTYPE html>
<html>
  <head>
    <title>TechStudio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- BEWARE:With the fixed-top nav bar, pages are cut off at the top, so added some padding in body to keep it in check -->
  <nav class="navbar navbar-default  navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TechStudio</a>
      </div>
      
      <ul class="nav navbar-nav">
        <li><a href="/pages/home">Home</a></li>
        <li><a href="/pages/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </div>
  </nav>



  
<!-- Body -->
  <body>
    <%= yield %>
  </body>
  
<!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; TECHSTUDIO 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="container-footer">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

</html>
